body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #2672e44f;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

form {
    background-color: #ffffff;
    padding: 20px 30px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

textarea {
    width: 95%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    resize: none;
    background-color: #f9f9f9;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: 1px solid #183a19;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2e7732;
}
